
@model IEnumerable<WebApplication1.Models.BaiViet>
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="group-top-info">
        <img src="~/asset/images/group/@ViewBag.nhom.anh" />
        <h3>@ViewBag.nhom.ten_nhom</h3>
        @Html.Raw((ViewBag.role == 1 ? "<a href =\"KiemDuyet?ma_nhom=" + ViewBag.nhom.ma_nhom + "\">Duyệt bài đăng</a>" : ""))
    </div>
    <div class="form-dang-bai">
        @using (Html.BeginForm("addpost", "group", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <textarea class="form-control" id="noi_dung_post" rows="3" name="noi_dung_post" placeholder="Nhập nội dung bài đăng"></textarea>
            <p></p>
            <input type="file" accept="image/*" id="file" name="uploadFile" multiple>
            <p></p>
            <input type="hidden" name="get_id_nhom" value="@ViewBag.nhom.ma_nhom" />
            <input type="submit" value="Đăng bài" class="btn btn-info">
        }

    </div>
    <div class="row main-section">
        <div class="main-post col-lg-8">
            @foreach (var post in Model)
            {
                string class_heart = " bi-heart";
                if (post.user_like == true) { class_heart = "bi-heart-fill"; }
                <div class="a-post">
                    <div class="user-group">

                        <b><a href="/profile?id=@post.id"><span class="img-avatar"><img src="~/asset/images/avatar/@post.avatar" /></span></a><span>@post.nguoi_dang</span></b>
                    </div>
                    <div class="text-post">
                        @post.nd
                    </div>
                    <div class="image-post gallery-@post.img.Count()">
                        @foreach (var img in post.img)
                        {
                            <img src="~/asset/images/post/@img.link" alt="@img.mo_ta" />

                        }
                        @*<img src="~/asset/images/post/img1.jpg" alt="Ảnh lớp học tiếng Nhật" />*@
                    </div>
                    <div class="action-post">
                        <i class="bi @class_heart fa-2x like-button" id="like-post-@post.id_post"></i>
                        <input type="text" class="input-comment" id="input-comment-@post.id_post" placeholder="Thêm bình luận mới">
                        <button id="send-comment-@post.id_post" class="btn btn-info send-comment"><i class="bi bi-send-check-fill"></i></button>
                        <i class="bi bi-hand-thumbs-up"></i>
                        <span class="badge rounded-pill badge-notification bg-danger" id="like-count-@post.id_post">@post.like.Count()</span>
                        <i class="bi bi-chat-left-text fa-2x show_comment" id="show-comment-@post.id_post"></i>
                        <span class="badge rounded-pill badge-notification bg-danger" id="comment-count-@post.id_post">@post.cmt.Count()</span>

                    </div>
                    <div class="comment-section" id="comment-section-@post.id_post">
                        @foreach (var comment in post.cmt)
                        {
                            <div class="a-comment">
                                <div class="img-avatar-comment "><a href="/profile?id=@comment.uid"><img src="~/asset/images/avatar/@comment.avatar" /></a></div>
                                <div class=" nd-cmt"><b>@comment.ten</b><p class="noi-dung-comment">@comment.nd</p></div>

                            </div>
                        }
                    </div>

                </div>
            }
        </div>
        <div class="list-user-group col-lg-4">
            <h3>Danh sách thành viên</h3>
            @foreach (var user in ViewBag.list_user)
            {
                <div class="user-in-group" style="display:block">
                    <a href="/profile?id=@user.uid"><span class="img-avatar"><img src="~/asset/images/avatar/@user.anh" /></span></a><span> @user.ho_ten</span>
                </div>
            }



        </div>
    </div>
</div>
    <script src="~/asset/js/group.js"></script>
