
@model IEnumerable<WebApplication1.Models.user>
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/asset/css/group.css" rel="stylesheet" />
}
<div class="container">
    <div class="group-top-info">
        <img src="~/asset/images/group/@ViewBag.nhom.anh" />
        <h3>@ViewBag.nhom.ten_nhom</h3>
        @Html.Raw((ViewBag.role == 1 ? "<a href =\"KiemDuyet?ma_nhom=" + ViewBag.nhom.ma_nhom + "\">Duyệt bài đăng</a>" : ""))
    </div>
    @if (TempData["publish_post_result"] != null)
    {
        if (TempData["publish_post_result"].ToString() == "ok")
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Thành công!</strong> Bài viết của bạn đang ở trong trạng thái chờ duyệt.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        }
        else
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["publish_post_result"].ToString()
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
    <div class="row main-section">
        <div class="col-lg-8">
            <div class="form-dang-bai">
                @using (Html.BeginForm("addpost", "group", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <textarea required class="form-control" id="noi_dung_post" rows="3" name="noi_dung_post" placeholder="Nhập nội dung bài đăng"></textarea>

                    <div class="publish-action">
                        <input type="file" accept="image/*" id="file" name="uploadFile" multiple>
                        <input type="hidden" name="get_id_nhom" value="@ViewBag.nhom.ma_nhom" />
                        <input type="submit" value="Đăng bài" class="btn btn-info">
                    </div>
                }

            </div>
            <div class="main-post">
 
            </div>
        </div>
        <div class="list-user-group col-lg-4">
            <h3>Danh sách thành viên</h3>
            @foreach (var user in Model)
            {
                <div class="user-in-group" style="display:block">
                    <a href="/profile?id=@user.uid"><span class="img-avatar"><img src="~/asset/images/avatar/@user.anh" /></span></a><span> @user.ho_ten</span>
                </div>
            }


        </div>
    </div>
</div>
<a class="btn btn-info back-to-top-btn" href="#">
    <i class="bi bi-arrow-up"></i>
</a>
<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
<script>

    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace('noi_dung_post');
</script>
<script src="~/asset/js/main.js"></script>
<script src="~/asset/js/paging.js"></script>
<script src="~/asset/js/group.js"></script>
