@model WebApplication1.Models.user
@{
    ViewBag.Title = "Trang chủ";

}
<div class="container-fluid main">
    <div class="row main-section">
        <div class="main-post col-md-8">

        </div>
        <div class="group-in-right col-md-4">
            <div class="avatar">
                @using (Html.BeginForm("uploadavatar", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" id="imgupload" name="avatarUpload" style="display:none" />
                    <input type="submit" name="name" style="display:none" id="submit_avatar" value="" />
                }

                <img id="upload_avatar_img" src="~/asset/images/avatar/@Model.anh" alt="Ảnh đại diện" />
            </div>
            <div class="description">
                <p style="text-align: center;"><b>@Model.ho_ten</b></p>
                <p>Chức vụ: @Model.role</p>
                <p>Lớp: @Model.ma_lop</p>
                <p>Quê quán: @Model.dia_chi</p>
                <p>Giới tính: @((bool)Model.gioi_tinh ?  "nam": "nu")</p>
                <p>Email: @Model.email</p>
                <span><a href="/home/logout"><i class="bi bi-box-arrow-right">Đăng xuất</i></a></span><button class="btn btn-warning" id="change_pass">Đổi mật khẩu</button>
            </div>
        </div>
    </div>

</div>
<div id="dialog">

    <input class="form-control" type="password" name="old_pass" id="old_pass" placeholder="mật khẩu cũ" />
    <input class="form-control" type="password" name="new_pass" id="new_pass" placeholder="mật khẩu mới" />
    <input class="form-control" type="password" name="retype_new_pass" id="retype_new_pass" placeholder="nhập lại mật khẩu mới" />
    <input type="button" class="btn btn-warning" name="name" id="btn_change_pass" value="Đổi mật khẩu" />

</div>
<a class="btn btn-info back-to-top-btn" href="#">
    <i class="bi bi-arrow-up"></i>
</a>
@section Styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link href="~/asset/css/home.css" rel="stylesheet" />
}
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="~/asset/js/main.js"></script>
<script src="~/asset/js/paging.js"></script>
<script src="~/asset/js/homepage.js"></script>